Repository hoprnet/ct-research, pull requests merged in 2023-09, with the labels that each got.

#310 Hotfix economic handler
  ct-app/economic_handler/economic_handler.py
Labels: component:economichandler, hotfix

#309 Simplify stopping all instances
  ct-app/aggregator/aggregator.py
  ct-app/aggregator/routes.py
  ct-app/aggregator_trigger/__main__.py
  ct-app/aggregator_trigger/aggregator_trigger.py
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/utils_econhandler.py
  ct-app/netwatcher/__main__.py
  ct-app/tests/test_aggregator_trigger.py
  ct-app/tests/test_utils_econhandler.py
  ct-app/tools/exit_codes.py
  ct-app/tools/hopr_node.py
Labels: improvement

#306 Adapt PF to match the DatabaseConnection implementation
  ct-app/postman_feedback/postman_feedback_task.py
Labels: component:db, component:queue

#318 Saving and reading files to/from GCP bucket
  .github/workflows/main.yaml
  ct-app/economic_handler/economic_handler.py
  ct-app/economic_handler/utils_econhandler.py
  ct-app/requirements.txt
  ct-app/tests/test_utils_econhandler.py
  ct-app/tools/__init__.py
  ct-app/tools/decorator.py
  ct-app/tools/utils.py
Labels: priority:high, improvement, component:economichandler

#317 Added locks to avoid concurrency issues in EH
  ct-app/economic_handler/economic_handler.py
Labels: improvement, component:economichandler

#319 Hot fix/adjust opening channels with new api
  ct-app/netwatcher/netwatcher.py
  ct-app/tests/test_netwatcher.py
  ct-app/tools/hopr_api_helper.py
Labels: improvement, component:netwatcher, hotfix

#320 Reduce logged traceback
  ct-app/tools/hopr_api_helper.py
  ct-app/tools/utils.py
Labels: component:hoprd-api, hotfix

#316 EH is more asynchronous
  .github/workflows/main.yaml
  .gitignore
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/economic_handler/expected_rewards/.gitkeep
  ct-app/economic_handler/utils_econhandler.py
  ct-app/postman/postman_tasks.py
  ct-app/requirements.txt
  ct-app/tests/test_economic_handler.py
  ct-app/tests/test_other_endpoints.py
  ct-app/tests/test_utils_econhandler.py
  ct-app/tools/__init__.py
  ct-app/tools/decorator.py
  ct-app/tools/hopr_api_helper.py
  ct-app/tools/utils.py
Labels: improvement, component:economichandler

#322 Control before running the economic model
  ct-app/economic_handler/economic_handler.py
Labels: component:economichandler, hotfix

#329 Unittest for econ handler and bug fixes based on tests
  ct-app/economic_handler/utils_econhandler.py
  ct-app/tests/test_other_endpoints.py
  ct-app/tests/test_utils_econhandler.py
Labels: test coverage, component:economichandler

#328 Global-hotfix
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/economic_handler/utils_econhandler.py
  ct-app/netwatcher/netwatcher.py
  ct-app/postman/__main__.py
  ct-app/postman/postman_tasks.py
  ct-app/postman_feedback/postman_feedback_task.py
  ct-app/tests/test_hoprd_api_helper.py
  ct-app/tests/test_hoprd_bad_api_helper.py
  ct-app/tests/test_other_endpoints.py
  ct-app/tests/test_postman.py
  ct-app/tests/test_utils_econhandler.py
  ct-app/tools/hopr_api_helper.py
Labels: dashboard, component:economichandler

#336 Using envvar to specify parameter file name
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/economic_handler/utils_econhandler.py
Labels: improvement, component:economichandler

#337 Change message on distribution
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/postman/postman_tasks.py
  ct-app/tests/test_economic_handler.py
  ct-app/tests/test_other_endpoints.py
Labels: component:queue

#334 Logic to block economic model if database not filled enough
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/tests/test_economic_handler.py
  ct-app/tests/test_other_endpoints.py
Labels: improvement, component:economichandler

#340 Fixed the type of the timestamp pushed to rewardTable
  ct-app/postman_feedback/postman_feedback_task.py
Labels: component:db, component:queue

#330 Celery broker url fix
  ct-app/tests/test_postman.py
Labels: component:queue

#348 Using `wakeupcall` instead of `wakeupcall_from_file`
  ct-app/economic_handler/economic_handler.py
  ct-app/economic_handler/utils_econhandler.py
  ct-app/tests/test_economic_handler.py
  ct-app/tools/decorator.py
Labels: priority:high, bug, hotfix

#351 Fake task write in rewardTable
  .gitignore
  ct-app/postman/postman_tasks.py
Labels: improvement

#357 Reward calculation and sending splitted
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/tests/test_economic_handler.py
  ct-app/tests/test_other_endpoints.py
Labels: improvement, component:economichandler

#360 Temporarly removing delay + lock logic
  ct-app/economic_handler/economic_handler.py
  ct-app/tools/decorator.py
Labels: hotfix

#361 Fixing min eligible peer threshold logic
  ct-app/economic_handler/economic_handler.py
Labels: hotfix

#366 Closing channels with low balance
  ct-app/netwatcher/netwatcher.py
  ct-app/tests/test_netwatcher.py
Labels: feature

#372 Storing issued messages in the rewardTable
  ct-app/postman/postman_tasks.py
  ct-app/tests/test_postman.py
  ct-app/tools/db_connection/models.py
Labels: improvement, component:queue
