Repository hoprnet/ct-research, pull requests merged in 2023-11, with the labels that each got.

#408 Balance check done before sending messages
  ct-app/economic_handler/utils_econhandler.py
  ct-app/postman/postman_tasks.py
  ct-app/tests/test_postman.py
Labels: feature, component:postman, component:economichandler

#402 onboarding waitlist for nodes
  ct-app/node_onboarding/waitlist_dufour.ipynb
Labels: feature

#352 Logging simplification
  ct-app/aggregator/routes.py
  ct-app/tools/__init__.py
  ct-app/tools/logger/coloredformatter.py
  ct-app/tools/logger/coloredlogger.py
  ct-app/tools/utils.py
Labels: improvement, priority:low

#413 Channel's filter conditions where off in Postman
  ct-app/postman/postman_tasks.py
  ct-app/tests/test_postman.py
Labels: component:postman, hotfix

#411 Simplify waitlist script and use dune api
  .gitignore
  airdrop/__init__.py
  airdrop/__main__.py
  airdrop/gcpfile.py
  airdrop/reward_entry.py
  airdrop/table_entry.py
  ct-app/node_onboarding/waitlist_dufour.ipynb
  waitlist/__main__.py
  waitlist/dune_entry.py
  waitlist/entry.py
  waitlist/network_waitlist_entry.py
  waitlist/registration_entry.py
Labels: improvement, Outreach

#375 Endurance testing for message sending
  .github/workflows/main.yaml
  .gitignore
  ct-app/requirements.txt
  ct-app/test_endurance_rules.yaml
  ct-app/tests_endurance/__init__.py
  ct-app/tests_endurance/__main__.py
  ct-app/tests_endurance/module/__init__.py
  ct-app/tests_endurance/module/endurance_test.py
  ct-app/tests_endurance/module/metric.py
  ct-app/tests_endurance/test_fund_channels.py
  ct-app/tests_endurance/test_send_messages.py
  ct-app/tests_unittest/__init__.py
  ct-app/tests_unittest/test_aggregator.py
  ct-app/tests_unittest/test_aggregator_trigger.py
  ct-app/tests_unittest/test_aggregator_utils.py
  ct-app/tests_unittest/test_economic_handler.py
  ct-app/tests_unittest/test_hopr_node.py
  ct-app/tests_unittest/test_hoprd_api_helper.py
  ct-app/tests_unittest/test_hoprd_bad_api_helper.py
  ct-app/tests_unittest/test_netwatcher.py
  ct-app/tests_unittest/test_netwatcher_peer.py
  ct-app/tests_unittest/test_other_endpoints.py
  ct-app/tests_unittest/test_postman.py
  ct-app/tests_unittest/test_utils_econhandler.py
  ct-app/tools/hopr_api_helper.py
  ct-app/tools/utils.py
Labels: test coverage

#424 Add GCP Artifact Tagging workflow
  .github/workflows/gcp-tag-artifact.yaml
Labels: devops

#436 Hotfix/Adapted placeholders for subgraph query to plugin structured helm chart
  ct-app/core/core.py
Labels: hotfix

#443 README update to match v2
  ct-app/README.md
Labels: documentation

#433 Runtime check that env variables are set before using them
  .gitignore
  ct-app/core/__main__.py
  ct-app/core/components/baseclass.py
  ct-app/core/components/decorators.py
  ct-app/core/components/flags.py
  ct-app/core/components/parameters.py
  ct-app/core/components/utils.py
  ct-app/core/core.py
  ct-app/core/node.py
  ct-app/namtsop/namtsop_tasks.py
  ct-app/postman/postman_tasks.py
  ct-app/scripts/list_required_parameters.sh
  ct-app/test/components/test_decorators.py
Labels: improvement

#446 Fix stored expected count
  ct-app/postman/postman_tasks.py
  ct-app/postman/task_status.py
Labels: bug

#428 Exclude peers running on old version
  ct-app/core/__main__.py
  ct-app/core/core.py
  ct-app/core/model/peer.py
  ct-app/core/model/topology_entry.py
  ct-app/core/node.py
  ct-app/test/components/test_utils.py
  ct-app/test/model/__init__.py
  ct-app/test/model/test_peer.py
Labels: feature

#444 Merged postman and namtsop
  ct-app/Dockerfile
  ct-app/core/components/utils.py
  ct-app/namtsop/__init__.py
  ct-app/namtsop/namtsop_tasks.py
  ct-app/postman/postman_tasks.py
  ct-app/postman/utils.py
Labels: improvement
