Repository hoprnet/ct-research, pull requests merged in 2023-08, with the labels that each got.

#224 database communication with eh
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
Labels: feature

#229 Queue communication and task distribution
  ct-app/assets/parameters.json
  ct-app/assets/parameters_schema.py
  ct-app/economic_handler/economic_handler.py
  ct-app/tests/test_economic_handler.py
  ct-app/tools/hopr_api_helper.py
  ct-app/tools/utils.py
Labels: feature

#227 Async long running tasks now interrupted the right way
  ct-app/economic_handler/economic_handler.py
  ct-app/netwatcher/netwatcher.py
Labels: improvement

#241 AggTrigger wakes up every 2h
  ct-app/aggregator_trigger/aggregator_trigger.py
Labels: improvement

#235 Metrics now prometheus compatible
  ct-app/aggregator/aggregator.py
  ct-app/aggregator/routes.py
  ct-app/aggregator/setup.py
  ct-app/aggregator/utils.py
  ct-app/netwatcher/netwatcher.py
  ct-app/requirements.txt
  ct-app/tests/test_aggregator.py
Labels: improvement, bug, component:aggregator

#257 Logger now prints the current datetime
  ct-app/tools/logger/coloredformatter.py
  ct-app/tools/logger/coloredlogger.py
Labels: bug

#255 EH decorator accessible by anyone
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/tools/db_connection/database_connection.py
  ct-app/tools/decorator.py
Labels: improvement

#237 Remaining messages now sent from next node in the list
  ct-app/postman/postman_tasks.py
  ct-app/tools/hopr_api_helper.py
Labels: feature, component:postman

#244 Inserting data to db as a block
  ct-app/aggregator/routes.py
  ct-app/tools/db_connection/database_connection.py
Labels: bug, component:aggregator

#233 Sending list using a rolling strategy
  .github/workflows/main.yaml
  ct-app/aggregator/routes.py
  ct-app/netwatcher/netwatcher.py
  ct-app/tests/test_aggregator.py
  ct-app/tests/test_db_connection.py
  ct-app/tests/test_hoprd_api_helper.py
  ct-app/tests/test_hoprd_bad_api_helper.py
  ct-app/tests/test_netwatcher.py
  ct-app/tools/hopr_api_helper.py
  ct-app/tools/utils.py
Labels: improvement, component:netwatcher

#251 Table name as attribute of DatabaseConnection
  ct-app/aggregator/routes.py
  ct-app/economic_handler/economic_handler.py
  ct-app/tests/test_db_connection.py
  ct-app/tools/db_connection/database_connection.py
Labels: bug, component:db

#264 Peer list replaced instead of updated
  ct-app/netwatcher/netwatcher.py
Labels: improvement

#263 Peer quality reduced
  ct-app/netwatcher/netwatcher.py
  ct-app/tools/hopr_api_helper.py
Labels: improvement

#271 DB connection hot fix
  ct-app/aggregator/__main__.py
  ct-app/aggregator/routes.py
  ct-app/economic_handler/__main__.py
  ct-app/tools/db_connection/database_connection.py
  ct-app/tools/utils.py
Labels: priority:high, improvement, component:db

#268 Use sqlAlchemy instead psycopg2
  ct-app/aggregator/__main__.py
  ct-app/aggregator/aggregator.py
  ct-app/aggregator/routes.py
  ct-app/aggregator/utils.py
  ct-app/economic_handler/__main__.py
  ct-app/economic_handler/economic_handler.py
  ct-app/netwatcher/netwatcher.py
  ct-app/requirements.txt
  ct-app/tests/test_aggregator.py
  ct-app/tests/test_aggregator_utils.py
  ct-app/tests/test_db_connection.py
  ct-app/tools/db_connection/__init__.py
  ct-app/tools/db_connection/database_connection.py
  ct-app/tools/db_connection/models.py
  ct-app/tools/utils.py
Labels: improvement, component:db

#247 Module to store message delivery status
  ct-app/postman/__init__.py
  ct-app/postman/postman_tasks.py
  ct-app/postman_feedback/__init__.py
  ct-app/postman_feedback/postman_feedback_task.py
  ct-app/tests/test_postman.py
  ct-app/tools/hopr_api_helper.py
  ct-app/tools/utils.py
Labels: feature

#275 Vanishing peers removed from the Aggregator
  ct-app/aggregator/aggregator.py
  ct-app/aggregator/routes.py
  ct-app/netwatcher/netwatcher.py
  ct-app/tests/test_aggregator.py
Labels: improvement, component:netwatcher, component:aggregator

#280 Database connection hot fix
  .gitignore
  ct-app/tests/test_db_connection.py
  ct-app/tools/db_connection/database_connection.py
  ct-app/tools/db_connection/models.py
Labels: improvement, component:db
