Repository hoprnet/ct-research, pull requests merged in 2024-05, with the labels that each got.

#506 Update Docker image repository URLs
  .github/workflows/gcp-tag-artifact.yaml
  .github/workflows/main.yaml
  helm/ctdapp/values.yaml
Labels: status:done

#505 Clean up deployment's helm files
  helm/ctdapp/templates/configmap-core.yaml
  helm/ctdapp/templates/configmap-postman.yaml
  helm/ctdapp/templates/deployment-core.yaml
  helm/ctdapp/templates/deployment-postman.yaml
  helm/ctdapp/values.yaml
  helm/secrets-staging.sops.yaml
  helm/values-prod.yaml
  helm/values-staging.yaml
Labels: status:in-progress

#508 Fixing pipeline tagging
  .github/workflows/main.yaml
Labels: bug, devops

#510 Move the repository into the correct child
  helm/ctdapp/templates/secret-rabbitmq.yaml
  helm/ctdapp/values.yaml
Labels: bug, devops

#511 Fix typo in namespace
  helm/ctdapp/templates/secret-rabbitmq.yaml
Labels: bug, devops

#515 Upgrade to version "saint-louis"
  helm/values-staging-blue.yaml
  helm/values-staging-green.yaml
Labels: devops

#517 Add documentation on how to connect to database
  helm/README.md
Labels: documentation, devops

#518 Handle additional error cases in GraphQLProvider
  ct-app/core/components/graphql_providers.py
Labels: hotfix, status:done

#519 Fix catch provider error gql
  ct-app/core/components/graphql_providers.py
Labels: status:done

#522 Fix version parsing when returned value is `UNKNOWN`
  ct-app/core/model/peer.py
Labels: status:done

#523 Fix api endpoints to fund and open channels
  ct-app/core/components/hoprd_api.py
Labels: status:done
