Repository hoprnet/ct-research, pull requests merged in 2024-07, with the labels that each got.

#543 Ensure no multi-line logs are generated
  ct-app/core/components/baseclass.py
Labels: improvement, status:done

#548 Adapt minimum channel funds to 30wxHOPR (for HOPRd v2.1.3)
  ct-app/scripts/core_prod_config.yaml
  helm/values-prod.yaml
Labels: hotfix, status:done

#549 Update resource usage on hoprd
  helm/values-common.yaml
  helm/values-staging-blue.yaml
  helm/values-staging-green.yaml
Labels: devops
