Repository hoprnet/ct-research, pull requests merged in 2024-04, with the labels that each got.

#475 [TEMP] Conform to rust api test-staging parameters
  ct-app/core/components/utils.py
  ct-app/core/model/peer.py
  ct-app/postman/postman_tasks.py
  ct-app/tests_endurance/module/endurance_test.py
  ct-app/tests_endurance/test_fund_channels.py
  ct-app/tests_endurance/test_send_messages.py
  waitlist/__main__.py
  waitlist/dune_entry.py
  waitlist/entry.py
  waitlist/registration_entry.py
Labels: DO NOT MERGE

#496 Fix generated class usage without content checks
  ct-app/core/node.py
Labels: status:done

#501 Remove ssl requirements
  ct-app/database/database_connection.py
Labels: status:done

#503 Deploy production
  helm/ctdapp/templates/configmap-core.yaml
  helm/ctdapp/templates/configmap-nodes.yaml
  helm/ctdapp/templates/configmap-postman.yaml
  helm/ctdapp/templates/deployment-postman.yaml
  helm/ctdapp/templates/secret-nodes.yaml
  helm/ctdapp/templates/secret-subgraph.yaml
  helm/ctdapp/templates/service-monitor.yaml
  helm/ctdapp/templates/service.yaml
  helm/secrets-prod.sops.yaml
  helm/values-common.yaml
  helm/values-prod-blue.yaml
  helm/values-prod-green.yaml
  helm/values-prod.yaml
  helm/values-staging-blue.yaml
  helm/values-staging-green.yaml
Labels: devops, status:done
